{% extends 'index.html' %}

{% load static %}
{% block content %}


<div class="bg-gray-300 pt-16 lg:py-24">
    <div class="pb-16 bg-gray-300 lg:pb-0 lg:z-10 lg:relative">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
            <div class="relative lg:-my-8">
                <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
                    <div
                        class="aspect-w-10 aspect-h-6 rounded-xl shadow-xl overflow-hidden sm:aspect-w-16 sm:aspect-h-7 lg:aspect-none lg:h-full">
                        <img class="object-cover lg:h-full lg:w-full"
                            src="https://images.unsplash.com/photo-1581090124321-d19ad6d7cd5a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="mt-12 lg:m-0 lg:col-span-2 lg:pl-8">
                <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
                    <blockquote>
                        <div>

                            <p class="mt-6 text-2xl font-medium text-gray-600">
                                While I keep busy building new projects, I focus on my contributions to open source,
                                networking, learning, and developing new technologies.
                            </p>
                        </div>
                        <button
                            class="px-3 py-2 mt-4 text-sm font-medium text-white uppercase bg-yellow-600 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"><a
                                href="https://www.linkedin.com/in/adrian-brown-347562141/">Linkedin
                            </a></button>
                        <button
                            class="px-3 ml-5 py-2 mt-4 text-sm font-medium text-white uppercase bg-gray-600 rounded-md hover:bg-yellow-600 focus:outline-none focus:bg-yellow-600"><a
                                href="http://www.github.com/cloudguruab">GitHub
                            </a></button>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-300">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
        <div>
            <h2 class="text-base font-semibold text-yellow-600 uppercase tracking-wide">Technical Experience</h2>
            <p class="mt-2 text-3xl font-extrabold text-gray-600">Current Role</p>
            <p class="mt-4 text-lg text-gray-600">In my current role I am responsible for the development
                and
                management of in-house applications and back-end components with API development for new tasks and
                client
                projects. I also cover support with third-party clients by phone, web, and email while working with
                developers to resolve critical issues for clients promptly.</p>
        </div>
        <div class="mt-12 lg:mt-0 lg:col-span-2">
            <dl
                class="mt-5 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:grid-rows-4 sm:grid-flow-col sm:gap-x-6 sm:gap-y-10 lg:gap-x-8">
                <div class="relative">
                    <dt>
                        <!-- Heroicon name: outline/check -->
                        <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <p class="ml-9 text-lg leading-6 font-medium text-gray-600">Linux/Windows</p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-600">
                    </dd>
                </div>

                <div class="relative">
                    <dt>
                        <!-- Heroicon name: outline/check -->
                        <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <p class="ml-9 text-lg leading-6 font-medium text-gray-600">Cloud Scale Deployment tools</p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-600">
                    </dd>
                </div>

                <div class="relative">
                    <dt>
                        <!-- Heroicon name: outline/check -->
                        <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <p class="ml-9 text-lg leading-6 font-medium text-gray-600">Virtualization tools</p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-600">
                    </dd>
                </div>

                <div class="relative">
                    <dt>
                        <!-- Heroicon name: outline/check -->
                        <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <p class="ml-9 text-lg leading-6 font-medium text-gray-600">Middleware & API's</p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-600">
                    </dd>
                </div>

                <div class="relative">
                    <dt>
                        <!-- Heroicon name: outline/check -->
                        <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <p class="ml-9 text-lg leading-6 font-medium text-gray-600">Automation Testing frameworks</p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-600">
                    </dd>
                </div>

                <div class="relative">
                    <dt>
                        <!-- Heroicon name: outline/check -->
                        <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <p class="ml-9 text-lg leading-6 font-medium text-gray-600">Python/Javascript/Bash Scripting</p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-600">
                    </dd>
                </div>

                <div class="relative">
                    <dt>
                        <!-- Heroicon name: outline/check -->
                        <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <p class="ml-9 text-lg leading-6 font-medium text-gray-600">Software defined networking</p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-600">
                    </dd>
                </div>

                <div class="relative">
                    <dt>
                        <!-- Heroicon name: outline/check -->
                        <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <p class="ml-9 text-lg leading-6 font-medium text-gray-600">Complex Database Query Tools & ORM's
                        </p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-600">
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>










<div class="bg-gray-300">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
        <div class="space-y-12">
            <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
                <h2 class="text-3xl font-extrabold text-gray-600 tracking-tight sm:text-4xl">Projects</h2>
                <p class="text-xl text-gray-600">For more information on recent projects see my github.</p>
            </div>
            <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">
                <li>
                    <div class="space-y-4">
                        <div class="aspect-w-3 aspect-h-2">
                            <img class="object-cover shadow-lg rounded-lg" src="{% static 'images/ecombuild.png' %}"
                                alt="">
                        </div>

                        <div class="space-y-2">
                            <div class="text-lg text-gray-600 leading-6 font-medium space-y-1">
                                <h3>Ecommerce Website</h3>
                                <p class="text-yellow-600">Fitness Application</p>
                            </div>
                            <ul class="flex space-x-5">
                                <li>
                                    <a class="mx-2" href="https://www.github.com/cloudguruab" aria-label="Github">
                                        <svg class="w-5 h-5 text-yellow-600 fill-current dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path
                                                d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9 1.4.3 2.6.4 3.8.4 8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1-8.4 1.9-15.9 2.7-22.6 2.7-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1 10.5 0 20-3.4 25.6-6 2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8 0 0 1.6-.5 5-.5 8.1 0 26.4 3.1 56.6 24.1 17.9-5.1 37-7.6 56.1-7.7 19 .1 38.2 2.6 56.1 7.7 30.2-21 48.5-24.1 56.6-24.1 3.4 0 5 .5 5 .5 12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5 1.2 0 2.6-.1 4-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="space-y-4">
                        <div class="aspect-w-3 aspect-h-2">
                            <img class="object-cover shadow-lg rounded-lg" src="{% static 'images/slackbuild.png' %}"
                                alt="">
                        </div>

                        <div class="space-y-2">
                            <div class="text-lg text-gray-600 leading-6 font-medium space-y-1">
                                <h3>Resource Management Tool</h3>
                                <p class="text-yellow-600">Slack Integration</p>
                            </div>
                            <ul class="flex space-x-5">
                                <li>
                                    <a class="mx-2" href="https://www.github.com/cloudguruab" aria-label="Github">
                                        <svg class="w-5 h-5 text-yellow-600 fill-current dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path
                                                d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9 1.4.3 2.6.4 3.8.4 8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1-8.4 1.9-15.9 2.7-22.6 2.7-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1 10.5 0 20-3.4 25.6-6 2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8 0 0 1.6-.5 5-.5 8.1 0 26.4 3.1 56.6 24.1 17.9-5.1 37-7.6 56.1-7.7 19 .1 38.2 2.6 56.1 7.7 30.2-21 48.5-24.1 56.6-24.1 3.4 0 5 .5 5 .5 12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5 1.2 0 2.6-.1 4-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="space-y-4">
                        <div class="aspect-w-3 aspect-h-2">
                            <img class="object-cover shadow-lg rounded-lg" src="{% static 'images/coporate_blog.png' %}"
                                alt="">
                        </div>

                        <div class="space-y-2">
                            <div class="text-lg text-gray-600 leading-6 font-medium space-y-1">
                                <h3>Social Application</h3>
                                <p class="text-yellow-600">Corporate Blog</p>
                            </div>
                            <ul class="flex space-x-5">
                                <li>
                                    <a class="mx-2" href="https://www.github.com/cloudguruab" aria-label="Github">
                                        <svg class="w-5 h-5 text-yellow-600 fill-current dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path
                                                d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9 1.4.3 2.6.4 3.8.4 8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1-8.4 1.9-15.9 2.7-22.6 2.7-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1 10.5 0 20-3.4 25.6-6 2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8 0 0 1.6-.5 5-.5 8.1 0 26.4 3.1 56.6 24.1 17.9-5.1 37-7.6 56.1-7.7 19 .1 38.2 2.6 56.1 7.7 30.2-21 48.5-24.1 56.6-24.1 3.4 0 5 .5 5 .5 12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5 1.2 0 2.6-.1 4-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- More items... -->
            </ul>
        </div>
    </div>
</div>

</div>
</div>



<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-gray-300 py-16 sm:py-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:gap-24 lg:items-start">
        <div class="relative sm:py-16 lg:py-0">
            <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
                <div class="absolute inset-y-0 right-1/2 w-full bg-gray-3000 rounded-r-3xl lg:right-72"></div>
                <svg class="absolute top-8 left-1/2 -ml-3 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392"
                    fill="none" viewBox="0 0 404 392">
                    <defs>
                        <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20"
                            patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-yellow-600" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
                </svg>
            </div>
            <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0 lg:max-w-none lg:py-20">
                <!-- Testimonial card-->
                <div class="relative pt-64 pb-10 rounded-2xl shadow-xl overflow-hidden">
                    <img class="absolute inset-0 h-full w-full object-cover"
                        src="{% static 'images/pro_headshot.jpg' %}" alt="">
                    <div class="absolute inset-0 bg-gray-600" style="mix-blend-mode: multiply;"></div>
                    <div class="absolute inset-0 bg-gradient-to-t from-yellow-600 via-gray-500 opacity-60"></div>
                    <div class="relative px-8">

                        <blockquote class="mt-8">
                            <div class="relative text-lg font-medium text-white md:flex-grow">

                                <p class="relative">
                                    "I look forward to knowing more about you"
                                </p>
                            </div>

                            <footer class="mt-4">
                                <p class="text-base font-semibold text-indigo-200">Adrian Brown, Software Developer</p>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0">
            <!-- Content area -->
            <div class="pt-12 sm:pt-16 lg:pt-20">
                <h2 class="text-3xl text-gray-600 font-extrabold tracking-tight sm:text-4xl">
                    On a mission to empower people
                </h2>
                <div class="mt-6 text-gray-600 space-y-6">
                    <p class="text-lg">
                        I am a young professional with the ability to establish excellent relationships with end-users,
                        employees, and clients. If you are seeking a professional who is consistently
                        looking towards opportunities to learn more about building scalable technologies we should
                        speak.
                    </p>
                </div>
            </div>

            <!-- Stats section -->
            <div class="mt-10">
                <dl class="grid grid-cols-2 gap-x-4 gap-y-8">
                    <div class="border-t-2 border-yellow-600 pt-6">
                        <dt class="text-base font-medium text-gray-600">Education</dt>
                        <dd class="text-3xl font-extrabold tracking-tight text-gray-600">Business Analytics</dd>
                    </div>

                    <div class="border-t-2 border-yellow-600 pt-6">
                        <dt class="text-base font-medium text-gray-600">Focus</dt>
                        <dd class="text-3xl font-extrabold tracking-tight text-gray-600">Back-End Development</dd>
                    </div>

                    <div class="border-t-2 border-yellow-600 pt-6">
                        <dt class="text-base font-medium text-gray-600">Open to work</dt>
                        <dd class="text-3xl font-extrabold tracking-tight text-gray-600">Yes</dd>
                    </div>

                    <div class="border-t-2 border-yellow-600 pt-6">
                        <dt class="text-base font-medium text-gray-600">Specialty</dt>
                        <dd class="text-3xl font-extrabold tracking-tight text-gray-600">Python</dd>
                    </div>
                </dl>
                <div class="mt-10">
                    <a href="{% url 'contact' %}" class="text-base font-medium text-yellow-600">Contact me<span aria-hidden="true">&rarr;</span> </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}